@use "../../../styles/variables";
@use "../../../styles/mixins";

.label {
	@include mixins.resize("font-size", 26, 24, 16);

	font-family: variables.$font-jaro;
	font-weight: 400;
	line-height: 139%;
	color: variables.$color-black;
	text-transform: uppercase;
}