@use "../../../styles/variables";
@use "../../../styles/mixins";
@use "../../../styles/adaptive";

.intro {
	@include mixins.resize("height", 541, 540, 543);

	position: relative;
	width: 100%;
}

.block {
	@include mixins.resize("width", 541, 450, 0);
	@include mixins.resize("height", 541, 295, 0);
	@include mixins.resize("padding", 30, 30, 30);
	@include mixins.resize("gap", 60, 60, 60);

	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: variables.$color-accent;

	@include adaptive.mobile {
		width: 100%;
		height: auto;
	}
}

.image {
	object-fit: cover;
	object-position: center;
}