@use "../../styles/variables";
@use "../../styles/mixins";
@use "../../styles/adaptive";

.block {
	@include mixins.resize("padding-top", 120, 120, 120);
	@include mixins.resize("padding-bottom", 120, 120, 120);
	@include mixins.resize("padding-left", 200, 40, 20);
	@include mixins.resize("padding-right", 200, 40, 20);

	background-image: url("/images/contact_background.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}