@use "../../../styles/variables";
@use "../../../styles/mixins";
@use "../../../styles/adaptive";

.section {
	@include mixins.resize("padding-top", 30, 30, 30);
	@include mixins.resize("padding-bottom", 30, 30, 30);

	background-color: variables.$color-accent;
}

.menu {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.link {
	h2 {
		color: variables.$color-accent-dark;
	}

	&:hover {
		h2 {
			color: variables.$color-primary;
		}
	}
}

.accent_link {
	h2 {
		color: variables.$color-black;
	}

	&:hover {
		h2 {
			color: variables.$color-white;
		}
	}
}

.title {
	@include mixins.resize("font-size", 150, 130, 70);

	transition: variables.$transition-default;
}