@use "variables";
@use "mixins";

:root {
	color-scheme: only light;
}

*::selection {
	color: variables.$color-white;
	background-color: variables.$color-accent-dark;
}

body::-webkit-scrollbar {
	width: 12px;
}

body::-webkit-scrollbar-track {
	background: variables.$color-accent-dark;
}

body::-webkit-scrollbar-thumb {
	background-color: variables.$color-accent;
	border: 3px solid variables.$color-accent-dark;
	border-radius: 20px;
}