






// Adaptive constants
$not-laptop: 1279px;
$not-mobile: 799px;

// Template constants
$width-template-laptop: 1280;
$width-template-tablet: 800;
$width-template-mobile: 375;
$height-template-laptop: 817;
$height-template-tablet: 1020;
$height-template-mobile: 692;