
// Fonts
$font-jaro: var(--font-jaro), sans-serif;
$font-geist: var(--font-geist), sans-serif;
$font-staatliches: var(--font-staatliches), sans-serif;

// Colors
$color-white: #ffffff;
$color-black: #000000;
$color-primary: #0F0F0F;
$color-accent: #CD9D65;
$color-accent-dark: #613B0F;

// Adaptive constants
$not-laptop: 1279px;
$not-mobile: 799px;

// Template constants
$width-template-laptop: 1280;
$width-template-tablet: 800;
$width-template-mobile: 375;
$height-template-laptop: 817;
$height-template-tablet: 1020;
$height-template-mobile: 692;